/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #59202B;
    --box2-color: #F2B138;
    --box3-color: #F24E29;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: white;
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
    position: fixed;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
    background-image: linear-gradient(0deg, #F8F9FD 0%, #b5fffd00 100%);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 5;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 15px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 12px;
    width: calc(100% / 3 - 17px);
    padding: 15px 20px;
    transition: var(--tran-05);
    max-height: 350px;
    overflow-y: auto;
}

.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box1{
  background-color: var(--box1-color);
}
.boxes .box.box2{
  background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    padding-bottom: 50px;

}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 1280px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 900px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}


/*Añadido*/
.home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
  }
  .overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .box .number{
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  .home-content .box .indicator{
    display: flex;
    align-items: center;
  }
  .home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }
  .box .indicator i.down{
    background: #e87d88;
  }
  .home-content .box .indicator .text{
    font-size: 12px;
  }
  .home-content .box .plane{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }
  .home-content .box .plane{
     color: #2BD47D;
     background: #C0F2D8;
   }
  .home-content .box .bomb{
     color: #ffc233;
     background: #ffe8b3;
   }
  .home-content .box .sad{
     color: #e05260;
     background: #f7d4d7;
   }
   .home-content .box .capsule{
    color: #7d52e0;
    background: #c0b2e2;
  }
  .home-content .total-sad{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .sales-boxes{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }
  
  /* left box */
  .home-content .sales-boxes .recent-sales{
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .home-content .sales-boxes .sales-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sales-boxes .box .title{
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }
  .sales-boxes .sales-details li.topic{
    font-size: 20px;
    font-weight: 500;
  }
  .sales-boxes .sales-details li{
    list-style: none;
    margin: 8px 0;
  }
  .sales-boxes .sales-details li a{
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
  }
  .sales-boxes .box .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .sales-boxes .box .button a{
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .sales-boxes .box .button a:hover{
    background:  #0d3073;
  }
  
  /* Right box */
  .home-content .sales-boxes .top-sales{
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .sales-boxes .top-sales li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  .sales-boxes .top-sales li a img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
  }
  .sales-boxes .top-sales li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sales-boxes .top-sales li .product,
  .price{
    font-size: 17px;
    font-weight: 400;
    color: #333;
  }


  @media (max-width: 1150px) {
    .home-content .sales-boxes{
      flex-direction: column;
    }
    .home-content .sales-boxes .box{
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales{
      margin: 0;
    }
  }
  @media (max-width: 1000px) {
    .overview-boxes .box{
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }
  @media (max-width: 2000px) {
    .home-content .sales-boxes .sales-details{
      width: 560px;
    }
  }
  @media (max-width: 700px) {
    .overview-boxes .box{
      width: 100%;
      margin-bottom: 15px;
    }
  }


  .home-content .sales-boxes .top-sales{
    width: 100%;
    background: #fff;

 
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .sales-boxes .top-sales li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  .sales-boxes .top-sales li a img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #0E4BF1;
  }
  .sales-boxes .top-sales li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sales-boxes .top-sales li .product,
  .price{
    font-size: 17px;
    font-weight: 400;
    color: #333;
    margin-right: 20px;
    text-align: right;
    text-align: justify;
  }


  .activity-data .button{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    transform: translateY(20px);
   
  }
  .activity-data .button a{
    color: #fff;
    background: #0A2558;

    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .activity-data .button a:hover{
    background:  #0d3073;
  }
/*notificaciones*/

.icon {
	cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    background: #0E4BF1;
	padding: 10px;
	border-radius: 100%;
	color: #fff;
    font-size:100;
    height: 40px;
    width: 40px;
    text-align: center;
    align-items: center;
}
.icon noti {
	background: #0E4BF1;
	padding: 10px;
	border-radius: 100%;
	color: #fff;
    font-size:100;
    height: 20px;
    width: 20px;
}
.icon img {
	display: inline-block;
	width: 30px;
	margin-top: 20px;
}
.icon:hover {
	opacity: .7;
}

.logo {
	color: #eee;
	font-size: 20px;
}

.notifi-box {
	width: 300px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 100px;
	right: 35px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-y: auto; margin-bottom: 120px;
    direction: rtl;
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	padding-left: 5px;
    text-align: left;
    height: 0px;
}
.notifi-box h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}
.notifi-box h2 span {
	color: #0E4BF1;
}
.notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}
.notifi-item:hover {
	background-color: #eee;
}
.notifi-item img {
	display: block;
	width: 20px;
    height: 20px;
	margin-right: 60px;
	border-radius: 20%;
    transform: translate(30px, 20px);
}
.notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}


.notifi-box2 {
	
	position: absolute;
	top: 100px;
	right: 35px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-y: auto; margin-bottom: 120px;
    text-align: left;
    height: 0px;
    border-radius: 24px;
    width: auto;
   
}
.notifi-box2 h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}
.notifi-box2 h2 span {
	color: #0E4BF1;
}


/*Profile card*/

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    min-width: 100px;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
   
  }
  .profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
  }
  .image {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
  }
  .image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  .profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
  }
  .text-data .name {
    font-size: 22px;
    font-weight: 500;
  }
  .text-data .job {
    font-size: 15px;
    font-weight: 400;
  }
  .profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;
  }
  .profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .buttons .button {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .buttons .button:hover {
    background-color: #0e4bf1;
  }
  .profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
  }
  .data i {
    font-size: 18px;
    margin-right: 6px;
  }
  .data:last-child {
    border-right: none;
  }

  .box{
    transition: all ease .2s;
  }

.box:hover{
    transform: scale(0.96);
}






.container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    transition: all ease 1s;
  }
  
  .column1 {
    flex-basis: calc(33.3% - 20px);
    margin-right: 5px;
    padding: 5px;
    box-sizing: border-box;
    transition: all ease 1s;
    
  }
  .column2 {
    flex-basis: calc(33.3% - 20px);
    margin-right: 5px;
    padding: 5px;
    box-sizing: border-box;
    
  }
  
  .column3 {
    flex-basis: calc(33.3% - 20px);
    margin-right: 5px;
    padding: 5px;
    box-sizing: border-box;
    
  }
  
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card {
    background-color: #fff;
    border: .06px solid rgb(216, 216, 216);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  
  }
  
  .card:hover {
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
  }

  
  @media (max-width: 1000px) {
   
    .column1 {
      flex-basis: calc(50% - 20px);
      width: 100%;
      margin-right: 5px;
      padding: 5px;
      box-sizing: border-box;
    }
    .column2 {
      flex-basis: calc(50% - 20px);
      width: 100%;
      margin-right: 5px;
      padding: 5px;
      box-sizing: border-box;
    }
    .column3 {
      flex-basis: calc(50% - 20px);
      width: 33.3%;
      margin-right: 5px;
      padding: 5px;
      box-sizing: border-box;
      margin: 0 auto;
    }
  }

  @media (max-width: 700px) {
    .container {
      flex-direction: column;
    }
    .column3 {
     
      width: 100%;
      
    }
    
  }

  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      padding: 20px;
    }
    
  }

  .name{
    color: #242526c0;
    font-weight: 700;
    font-size: 17px;
  }



  .small-content {
    margin-top: 13px;
    max-height: 450px;
    overflow: hidden;
    font-size: 13px;
  }

  .large-content {
    display: none;
  }


  .expanded .small-content {
    display: none;
  }
  
  .expanded .large-content {
    display: block;
  }

  .overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.442);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }
  
  .overlaycard {
    margin: 0 auto;
    max-width: 50%;
    max-height: 80%;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition: all ease .5s;
    overflow-y: auto;
    background-color: #82aedb;
    height: auto;
    flex: 1;
    
  }

  @media (max-width: 1150px) {
    .overlaycard{
      max-width: 60%;
    }
  }

  
  @media (max-width: 650px) {
    .overlaycard {
      max-width: 80%;
    }
  }


  .overlay-title {
   color: white;
  }
  
  .overlay-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 17px;
    padding: 15px;
    margin-top: -10px;
  }



  .dispTitulo{
    display: flex;
  }

  .dispCerrar{
    width: 5%;
  }

  .dispTexto{
    width: 93%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 15px;
    height: auto;
    font-size:16px;

  }

  .dispCerrar{
    width: 7%;
    color: white;

  }

  .overlay-close{
    
    height: 100%;
    width: 100%;
    border: solid;
    border-color: rgba(250, 250, 250, 0);
    background-color: #00000000;
    font-size: 20PX;
    font-weight: bold;
    transition: all ease .5s;
    cursor: pointer;
    color: white;

  }


  
  .overlay-close:hover{
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.676);
  }


  .amarillosC{
 
    background-color: #d42f2f;
    color: white;
  }

  .verdesC{
    background-color: #F24E29;
    color: white;
  }

  .azulesC{
    background-color: #59203d;
    color: white;
  }

.card h6{
  text-align: right;
  margin-right: 10px;
  
}
  

  
.card::after {
  content: 'Toca para ver más';
  display: block;
  width: auto;
  padding: 5px;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #333;
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}

.card:hover::after {
  opacity: .7;
}

.overlay-fecha{
  padding-left: 15px;
  color: #ffffffdc;
  font-weight: 300;
  transform: translateY(-10px);
}



.dates{
  font-size: 30px;
 
  font-weight: bolder;
  color: white;
  margin-top: 0px;
}

.hora{
  padding-left: 0px;
  color: white;
}


.azulesC h4{
  color: white;
}




/*extra info*/



.extra-info {
  height: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #fff;
  overflow: hidden;
  
  margin-top: 4x;
  width: 10px;
  transition: all ease 1s;
}



.extra-info:hover {
  height: auto;
  padding: 5px;
  color: black;
  width: 100%;
  font-size: 17px;
}