* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-weight: bold;
  margin-bottom: 10px;
}

form input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  border:  solid;
  border-width: 3px;
  border-color: #ddd;
}

form button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.boton{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}


form button:hover {
  background-color: #3e8e41;
}

table {
  margin-top: 20px;
  width: 90%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table td {
  background-color: #fff;
  
}

table td button {
  background-color: #00a2ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 10px;
}

table td button:hover {
  background-color: #0041cc;
}

table td button.edit .boton{
  background-color: #4CAF50;
  
}

table td button.edit .boton:hover {
  background-color: #3e8e41;
}

.input-group{
    background-color:rgb(255, 255, 255) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

}

select{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-size: 16px;
  padding: 5px 10px;
  width: 100%;
}


.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  width: 50px;
  height: auto;
  object-fit: cover;
}   

.nose{
    border: hidden;
}

.tablasinnada{
    border: hidden;
}

.izquierda{
    transform: translate(75px);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  padding: 20px;
  transition: .3s;
  text-align: left
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left
}

form input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  border:  solid;
  border-width: 3px;
  border-color: #ddd;
}

.select{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  border:  solid;
  border-width: 3px;
  border-color: #ddd;
  
  background-color:rgb(255, 255, 255) ;
  padding: 10px;
  border-radius: 10px;
  
}

form button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.boton{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

form button:hover {
  background-color: #3e8e41;
}

table {
  margin-top: 5px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px; /* Agregado: bordes redondeados */
}

table th,
table td {
  padding: 10px; /* Aumentado: mayor espacio entre celdas */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold; /* Agregado: texto en negrita */
}

table td {
  background-color: #fff;
}

table td button {
  background-color: #00a2ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 10px;
}

table td button:hover {
  background-color: #0041cc;
}

table td button.edit .boton{
  background-color: #4CAF50;
}

table td button.edit .boton:hover {
  background-color: #3e8e41;
}

.input-group{
  background-color:rgb(255, 255, 255) ;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

select{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-size: 16px;
  padding: 5px 10px;
  width: 100%;
}

.grismini{
    color:#555;
}

boton {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: .2s;
}


.mi-enlace {
 text-decoration: none; color: white;  border: none; cursor: pointer
}

.boton:hover{
   transform: scale(1.02); 
}


.izq{
    text-align: left
}



.nota{
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
        
}

.nose{
    border: hidden;
}

.tablasinnada{
    border: hidden;
}

.izquierda{
    transform: translate(75px);
}

.boton2{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.margen{
    width: 90%;
}


.pap{
    width: 50%;
}

.withtot{
    height: 90px;
}

.rojos{
    background-color: #FF5733;
    color: white;
}
.rojo{
    background-color: #FF5733;
    color: white;
}


tr{
    background-color: white;
}



.reporte-table {
  border-collapse: collapse;
  width: 100%;
}

.reporte-table th,
.reporte-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.reporte-table th {
  background-color: #4CAF50;
  color: white;
}

.reporte-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.image-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.image-button img {
  height: 20px;
  width: 20px;
}

.image-button:hover img {
  height: 22px;
  width: 22px;
}



.reporte-table {
  border-collapse: collapse;
  width: 100%;
}

.reporte-table th,
.reporte-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.reporte-table th {
  background-color: #fff;
  color: black;
}

.reporte-table thead th {
  background-color: skyblue;
}

.reporte-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.image-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.image-button img {
  height: 20px;
  width: 20px;
}

.image-button:hover img {
  height: 22px;
  width: 22px;
}


.blancos{
    background-color: white;
}

buenisimo{
    background-color: #0A2558;
    margin-bottom: 10px;
    margin-top: 10px;
    transform: translate(10px);
}
